{% extends 'base.html' %}

{% block title %} -  포인트 획득 방법{% endblock %}

{% block content %}
<div class="container">
        <h2 class="text-center mt-5 mb-2">포인트 획득 방법</h2>
        <ul class="list-group list-group-flush">
                <li class="list-group-item">출석체크 (준비중) <span class="badge badge-warning">50p</span></li>
                <li class="list-group-item">리뷰 작성 <span class="badge badge-warning">100p</span></li>
                <li class="list-group-item">매일 각 메뉴 첫 리뷰 작성 <span class="badge badge-warning">+50p</span></li>
                <li class="list-group-item">사진 리뷰 작성 <span class="badge badge-warning">+50p</span></li>
              </ul>
    </div>
{% endblock %}

